h3{
  
    color:burlywood;  
    font-size: 30px ;
    font-family: times new roman;
    text-align: center;
    color:blue

}  
h2{
    color: burlywood;
    font-size: 30px;
    font-family: Georgia;
    text-align: center;
}


h1 {
  font-size: 40PX;
   color: black; 
    font-family: Georgia; 
    text-align: center;
    color: black;
    text-shadow: 2px 4px 3px;
    color: cadetblue;
}

.blocgauche, .blocdroit{
    border: 1px solid blue; width: 500px;
    position: relative; float: left; 
